.GFonts {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Chakra Petch', sans-serif;}
body {background-color: lightgray; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/forest-2942477_1920.jpg"); overflow: hidden;}
.Small-Spacer {padding-top: 5%;}
p {font-family: 'Ubuntu', sans-serif;}

h1, h2, h3, h4, h5, h6, .card-header {font-family: 'Chakra Petch', sans-serif;}

.background { filter: blur(1px);}
.card {box-shadow: 0px 0px #000000b6; transition-duration: .5s;}
.card:hover {box-shadow: 8px 8px 15px #000000b6; transition-duration: .5s;}
.fa-key {color: rgb(0, 123, 255);}
.fa-trash {color: red;}